.filter-box {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 76px;
  margin: 0;
  margin-top: -38px;
  padding: 10px 20px;
  animation: fade-in 0.5s;

  .tags {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    .tag-box {
      margin: 10px 10px 10px 0;
    }
  }

  .clear-tags {
    margin: 10px 0 10px 10px;
    color: $dark-grey;

    &:hover {
      color: $primary;
    }
  }
}
