header {
  background-color: $primary;

  .header-desktop {
    display: none;

    @include md {
      display: block;
    }
  }

  .header-mobile {
    @include md {
      display: none;
    }
  }
}
