$cardImageMobile: 50px;
$cardImageDesktop: 100px;

.job-card {
  display: flex;
  flex-direction: column;
  animation: fade-in 0.5s;

  @include lg {
    flex-direction: row;
    align-items: center;
  }

  &.border-left {
    border-left: 5px solid $primary;
  }

  img {
    width: $cardImageMobile;
    margin-top: calc(((#{$cardImageMobile} / 2) + #{$box-padding}) * -1);

    @include lg {
      width: $cardImageDesktop;
      margin: 0;
    }
  }

  .job-info {
    padding-top: $box-padding;
    padding-bottom: $box-padding;
    border-bottom: 1px solid #ddd;

    @include lg {
      flex: 2;
      margin: 0 40px;
      border: none;
    }

    &-top {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 14px;
      color: $primary;

      .company {
        margin-right: 10px;
      }

      .badges {
        display: flex;
      }
    }

    &-position {
      font-size: 18px;
      margin: 20px 0;
    }

    &-bottom {
      display: flex;
      align-items: center;
      color: $dark-grey;
      font-weight: 500;

      .middle-dot {
        margin: 0 10px;
        font-size: 20px;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;

    @include lg {
      flex: 2;
    }
  }
}
