.tag-single {
  margin: 8px 16px 8px 0;
  padding: 10px 10px 7px;
  background-color: $tag-color;
  color: $primary;
  border-radius: 7px;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;

  &.active {
    background-color: $primary;
    color: #fff;
  }

  //disable hover on mobile
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }
}
